.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .paginator button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .paginator button:hover {
    background-color: #e0e0e0;
  }
  
  .paginator button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  