.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
  }
  
  .login-container h2 {
    color: #f7d354;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    color: #f7d354;
    margin-bottom: 8px;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f7d354;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .login-form button {
    padding: 12px;
    background-color: #f7d354;
    color: #111;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #ffd700;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  